form{
	text-align: center;
	font-family: 'Montserrat', sans-serif;


}

h1{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom:2.5%

}

#weatherData{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size:110%;
	background-color:#CBD0D1;
	padding: 2.5% 5% 5% 5%;
margin-top:2.5%
	
}

.shout{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 200%

}
#submit{
	background-color: #00827F;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size: 110%
}
.city{
	margin-bottom:2.5%;

}

#weatherData img{
margin-top:2.5%;
height: 75%;
width:75%
}
#welcome{
	font-size: 200%;
	margin-top: 3%;
	text-align: center

}

#welcome img{
	margin-top: 2.5%;

}

#showMore{

	margin-top: 2.5%;
	left: 40%;
	position: relative;
	margin-bottom: 2.5%;

}
#showMore input{

	background-color: #00827F;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 2% 5% 2% 5%;
	font-size: 125%;
  	font-family: 'Montserrat';
  	margin-bottom: 2.5%;


}
#forecastsDiv{
	text-align: center;

}
#forecasts{
	text-decoration: none;

}
.forecast{
	display: inline-table;
	padding: 1% 1% 1% 1%;
	font-family: 'Montserrat';
	border-style: solid;
    border-width: 2px;
    border-color: #CBD0D1;
    margin: 1% 1% 1% 1%;
}
#spinner{
	margin-left: 40%;
	margin-top: 1%;
	display: none;
	

}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}